<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

</head>
<body>
	<div class="container" layout:fragment="content"
		style="margin-top: 40px;">
		<input type="hidden" th:value="${status}" id="status"> <input
			type="hidden" th:value="${message}" id="message"> <input
			type="hidden" th:value="${count}" id="count">
		<h2>Data Import</h2>
		<br>
		<div class="alert alert-info" role="alert">
			<strong>Last Update Date : <span id="lastUpdateDate"></span></strong>
		</div>
		<form th:action="@{/upload}" method="post"
			enctype="multipart/form-data">
			<div class="form-group">
				<label for="importType">Select Upload Type</label> <select
					class="form-control" name="importType" id="importType">
					<option selected disabled>Choose here</option>
					<option value="im">Item Master</option>
					<option value="po">Purchase Order</option>
				</select>
			</div>

			<div class="form-group">
				<label for="file">Upload File</label> <input type="file" name="file"
					id="file" class="form-control">
			</div>

			<button type="submit" class="btn btn-small btn-primary">Upload</button>
		</form>
		<br>
		<div class="alert alert-success" role="alert" th:if="${count}">
			<strong>Well done!</strong> You successfully imported <span th:text="${count}"></span> records.
		</div>
	</div>
	<th:block layout:fragment="footer-script">
            <script src="/js/import.js"></script>
    </th:block>
</body>
</html>